.tabp {
    padding: 5%;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 3vw;
}
#authContainer {
    justify-content: center; 
    align-items: center; 
    background-color: #333;
    margin: 10%;
}
.tableFix {
    margin-bottom: 2%;
    table-layout: fixed;
    width: 100%;
}

.signButton {
    margin-left: 40%; 
    background-color: #5E718C; 
    width: 20%; 
    padding: 2%;
    margin-bottom: 5%;
    margin-top: 5%;
}