#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #222;
    border-bottom: 0.15em solid #fff;
    margin-bottom: 2%;
    box-shadow: 0px 0px 50% #000;
    transform: translate(0px, 0px, 2px);
    /*position: relative*/
}
.route {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    margin-top: 5%
}
#dropdownContainer {
    flex-direction: column;
    background-color: #444;
    border: 0.15em solid #fff;
}